<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
<h3>Employee Form</h3>
<form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
    <div class="row" style="padding: 30px;">
        <input type="hidden" class="form-control" id="id" [(ngModel)]="employee.id" name="id" #id="ngModel" />
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" placeholder="First Name" class="form-control" id="firstName" required
                    [(ngModel)]="employee.firstName" name="firstName" #firstName="ngModel" pattern="[a-z_ -]*"
                    [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" />
                <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                    <div *ngIf="firstName.errors.required">First Name is required</div>
                    <div *ngIf="firstName.errors.pattern">Only charcters allowed.</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" placeholder="Last Name" class="form-control" id="lastName" required
                    [(ngModel)]="employee.lastName" name="lastName" #lastName="ngModel" pattern="[a-z_ -]*"
                    [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" />
                <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
                    <div *ngIf="lastName.errors.required">Last Name is required</div>
                    <div *ngIf="lastName.errors.pattern">Only charcters allowed.</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <!-- <label for="employeeId">Employee Id</label> -->
                <input type="text" class="form-control" placeholder="Employee Id" id="employeeId" required
                    [(ngModel)]="employee.employeeId" name="employeeId" #employeeId="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && employeeId.invalid }" />
                <div *ngIf="f.submitted && employeeId.invalid" class="invalid-feedback">
                    <div *ngIf="employeeId.errors.required">Employee id is required</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-10">
            <div class="form-group">
                <label for="gender">Gender</label>
                <input class="form-check-input" type="radio" id="radio1" name="gender" [(ngModel)]="employee.gender"
                    [value]="false" />
                <label class="form-check-label" for="radio1">
                    Male
                </label>
                <input class="form-check-input" type="radio" id="radio1" name="gender" [(ngModel)]="employee.gender"
                    [value]="true" />
                <label class="form-check-label" for="radio2">
                    Female
                </label>
            </div>
        </div>
        <div class="col-md-4 mt-10">
            <div class="form-group">
                <label for="role">Role</label>
                <select [(ngModel)]="employee.role" name="employee.role">
                    <option *ngFor="let r of role" [value]="r.id">{{r.name}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-4 mt-10">
            <div class="form-group">
                <input type="email" placeholder="Email" class="form-control" id="email" required
                    [(ngModel)]="employee.email" name="email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" />
                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.pattern">Email must be valid</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-10">
            <div class="form-group">
                <input type="text" placeholder="Pin Code" class="form-control" id="pincode" required
                    [(ngModel)]="employee.pincode" name="pincode" #pincode="ngModel" maxlength="5"
                    [ngClass]="{ 'is-invalid': f.submitted && pincode.invalid }" pattern="[0-9]*"  />
                <div *ngIf="f.submitted && pincode.invalid" class="invalid-feedback">
                    <div *ngIf="pincode.errors.required">Pin code is required</div>
                    <div *ngIf="pincode.errors.pattern">Only number allowed.</div>
                </div>
            </div>
        </div>
        <div *ngIf="isExist == true">
            <div class="error">Employee is already in used.</div>
        </div>
        <button type="submit" class="btn btn-success" style="margin-top: 10px;">Submit</button>
    </div>


</form>

<div class="row" style="padding: 30px;">
    <div class="col-md-3"></div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Employee List</h1>
            </div>
            <div class="panel-body">
                <mat-grid-list cols="5" rowHeight="2:1">
                    <mat-grid-tile *ngFor="let employee of employees | async">
                        <ul class="empdetails" style="list-style-type:none;">
                            <li><b>Name: </b>{{employee.firstName}} {{employee.lastName}}</li>
                            <li><b>Employee Id:</b> {{employee.employeeId}}</li>
                        </ul>
                        <mat-grid-tile-footer>
                            <button class="btn-delete-icon"
                                (click)="deleteConfirm(employee.firstName+' '+employee.lastName,employee.id)"><i
                                    class='bx bx bxs-trash-alt'></i></button>
                            <button class="btn-edit-icon" (click)="editEmployee(employee.id)"><i
                                    class='bx bxs-pencil'></i></button>
                        </mat-grid-tile-footer>
                    </mat-grid-tile>

                </mat-grid-list>
                <!-- <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of employees | async">
                            <td>{{employee.firstName}}</td>
                            <td>{{employee.lastName}}</td>
                            <td><button (click)="deleteEmployee(employee.id)">Delete</button>
                                <button (click)="editEmployee(employee.id)" class="ml-10">Edit</button></td>
                        </tr>
                    </tbody>
                </table> -->
            </div>
        </div>
    </div>
</div>
<div class="toaster mt-success mt-topright" *ngIf="isShowModal == true">
    <i class="bx bx-check font-size-24 align-middle mr-2"></i><span>{{successmsg}}</span>
</div>
<script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>