.invalid-feedback {
    font-size: 15px;
}

.error {
    color: #ff0000;
    font-size: 15px;
}

.ml-10 {
    margin-left: 10px;
}

mat-grid-tile {
    background: #858d90;
}

.btn-delete-icon {
    background-color: transparent !important;
    color: #b73e3e !important;
    border: 0px !important;
    box-shadow: none !important;
    outline: 0px !important;
    font-size: 16px;
}

.btn-edit-icon {
    background-color: transparent !important;
    color: #30419B !important;
    border: 0px !important;
    box-shadow: none !important;
    outline: 0px !important;
    font-size: 16px;
    margin-left: 10px !important;
    ;
}

.mat-grid-tile .mat-grid-tile-footer,
.mat-grid-tile .mat-grid-tile-header {
    background: rgb(212 204 204 / 38%)
}

.toaster {
    color: #fff;
    padding: 15px;
    width: max-content;
    border-radius: 4px;
    font-size: 18px;
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
    /* display: none; */
    position: fixed;
    z-index: 9999;
}

.toaster.mt-success {
    background-color: #02C58D;
    border: 1px solid #2ca579;
}

.toaster.mt-danger {
    background-color: #FF8373;
    border: 1px solid #f14646;
}

.toaster.mt-topright {
    top: 10px;
    right: 15px;
}

.toaster.mt-bottomright {
    bottom: 15px;
    right: 15px;
}

.toaster.mt-bottomleft {
    bottom: 15px;
    left: 15px;
}

.toaster.mt-topleft {
    top: 90px;
    left: 15px;
}

.empdetails {
    list-style-type: none;
    padding-inline-start: 5px;
    border-right: 1px solid;
}
.mt-10 {
    margin-top: 10px;
}