/* You can add global styles to this file, and also import other style files */

.mat-grid-tile .mat-figure {
    justify-content: flex-start !important;
    align-items: flex-start !important;
}

@import "~bootstrap/dist/css/bootstrap.css"